<!DOCTYPE html>
{% load staticfiles %} <!-- static file line -->
<html>
    <head>
      <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            This is the about page <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
        <a href="/rango">index</a><br />
        <img src="{% static 'images/rango.jpeg' %}" alt="Picture of Rango" /> <!-- static file line -->
        <img src="/media/cat.jpg" alt="Picture of a Cat" /> <!-- media file line ex 4-->
        </div>
    </body>
</html>